@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    background:darkcyan;
}

.center{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    background:black;
    color:white;
    position: fixed;
    width:100%;
    z-index:250;
}

span .fa-user{
    padding:10px;
    border-radius: 50px;
    background:grey;
    margin-bottom:10px;
  }

header{
    font-family: 'Goblin One', cursive;
    font-size: 20px;
}

.container1 {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .navtop{
    background:darkcyan;
    position:fixed;
    text-align: center;
    z-index:200;
    opacity:0;
    width:100%;
    height:0;
    left:0;
    transition:1s all;
    font-family: 'Goblin One', cursive;
    color:white;
    }
    .home > p{
      margin: 10px;
    }
    .home > p:nth-child(1){
      color:red;
    }
    .topnav{
      position: relative;
      top:100px;
      cursor: pointer;
    }
    .navtop.show{
      opacity:1;
      transition:1s all;
      height:100%;
    }
    
    .home{
      margin-top:50px;
    }

    .desktopnav{
        display:none;
    }

    a{
        text-decoration: none;
        color:white;
    }
    a:hover{
        color:grey;
        opacity:0.5;
    }


main{
    margin-top:100px;
    text-align: center;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.borderbox{
   position: relative;
}
.border{
    position: absolute;
    height:100%;
    width:100%;
    border-radius: 20px;
    border:2px solid white;
  background:transparent;
  z-index:-1;
  border:2px solid transparent;
}
.img{
    width:250px;
    height:200px;
    padding:10px;
    border-radius: 20px;
    box-shadow: 5px 5px 50px -1px rgba(0,0,0,0.5);
}
.audiooption{
    margin-top:20px;
}
@keyframes borderbox{
    0%{
        border:none;
     }
     25%{
         border-left:3px solid blue;
         box-shadow: 0 0 10px 0 blue;
     }
     50%{
         border-top: 3px solid blue;
         box-shadow:  0 0 20px 0 coral;
     }
     75%{
         border-right:3px solid blue;
         box-shadow: 0 0 10px 0 blue;
     }
     100%{
        border-bottom:3px solid blue;
        box-shadow: 0 0 20px 0 coral;

     }
}
button{
    border:none;
    font-size: 15px;
    background: transparent;
    padding: 10px;
    font-size: 20px;
    color:white;
}
#audioplayer{
border-radius:50%;
padding:20px;
font-size: 20px;
position: relative;
background:darkslategray;
box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
-8px -8px 18px 0 rgba(255, 255, 255, 0.55);
}

@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
.listcollection{
    width:100%;
    padding-bottom:10px;
    text-align: left;
    padding:0 40px;
    margin-top: 50px;
    font-size: 20px;
}
.listcollection li{
    background:transparent;
    border-radius: 10px;
    padding:10px;
    margin-top:10px;
    box-shadow: 5px 5px 50px -1px rgba(0,0,0,0.5);
    margin-bottom:20px;
}
.listcollection li:hover{
    background:lightseagreen;
    cursor: pointer;
}

.star::before{
    content:'=';
    display:flex;
    justify-content: end;
    position: relative;
    font-size: 20px;
    font-weight: 800;
    bottom:20px;
  }

  .desktopnav{
      display:none;
  }

  .desktopui{
      display:none;
  }

  .bottomplay{
      display:none;
  }

  
  .faderight{
    transform:translateX(60%);
  }
  .fadeleft{
    transform:translateX(-60%);
  }
  .faderightshow{
    transition:2s all;
  transform:translateX(0);
  }
  
  .fadeleftshow{
    transition:2s all;
  transform:translateX(0);
  }
  

  @media screen and (min-width:700px){
      .listcollection{
        padding:0 100px;
      }
      .img{
          width:350px;
          height:300px;
      }
  }
@media screen and (min-width:1440px){
    main{
        display:none;
    }
    .navtop{
        display:none;
    }
    .center{
        display:none;
    }
    .desktopui{
        display:flex;
    }
    .sidenav{
        background:rgb(56, 56, 73);
        width:300px;
        height:750px;
        padding:20px;
        color:white;
    }
    .href{
        margin-top:50px;
        position: relative;
    }
    .href h1{
        margin-top:20px;
    }
    .href p{
        position: relative;
        z-index:10;
    }
    .href p::after{
        content:'';
        position: absolute;
        height:20px;
        width:0;
        z-index:-1;
        background:darkseagreen;
        left:-10px;
    }
    .href p:hover::after{
        width:100%;
        border-left:4px solid white;
        transition:1s all;
    }

 
    .playlist{
        margin-top:80px;
    }
    .playlist p{
        margin-top: 10px;
    }
    .sideui{
        width:80%;
        margin-left:20px;
        margin-top:10px;
    }
    .search{
        margin:10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .searchbtn{
        position: relative;
    }
    .searchbtn span{
        position: absolute;
        top:10px;
        right:10px;
        z-index:1;
    }
    .searchinput{
        border:none;
        width:500px;
        font-size: 15px;
        text-transform: uppercase;
        padding: 10px 20px;
        border-radius: 20px;
    }

    .icons{
        padding: 0 10px;
    }
    .icons .fas{
        padding-right:10px;
        font-size: 20px;
        color:white;
    }

    .musicimg{
        overflow-x: scroll;
        overflow-y:hidden ;
        display:flex;
        scroll-behavior: smooth;
        scrollbar-width:none;
        user-select: none;
    }

    .musicimg img{
        width:250px;
        height:250px;
        border-radius: 20px;
        margin:50px 10px;
        box-shadow: 5px 5px 50px -1px rgba(0,0,0,0.5);
    }
ul{
    list-style:none;
}
    .musicimg.active{
        cursor:grab;
    }
    
 
    a{
    font-size: 20px;
    color:white;
    position: relative;
    }

    a:hover{
        color:white;
    }

    .musicimg li a{
        display:none;
    }
  
    .musicimg li{
        text-decoration: none;
        font-size: 18px;
        color: black;
        display:flex;
        flex-direction: column;
        text-align: center;
      }
      .musicimg li:hover{
          opacity:0.5;
          cursor: pointer;
      }
    .feature{
        margin-left:50px;
        margin-top:50px;
    }
    .featurecard{
        overflow-x: scroll;
        display:flex;
        scrollbar-width: none;
    }
    .featurecard img{
        width:150px;
        height:150px;
        border-radius: 100px;
        margin-top:10px;
        margin-left:20px;
    }
    .featurecard > div img {
        margin-left:20px;
    }
  
    .bottomplay{
        width:100%;
        background:darkslategrey;
        padding:10px 20px;
        display:flex;
        align-items: center;
        justify-content: space-between
    }
    .bottomplay img{
        width:50px;
        height:50px;
        border-radius: 100px;
    }
    .bottomsong{
        display: flex;
        align-items: center;
        width:300px;
    }
    .songname{
        margin-left:10px;
    }
 #progress2{
     width:500px;
 }
 #volumeslider2{
     width:100px;
 }
 .volume{
     display:flex;
     align-items: center;
     margin-left: 10px;
 }
 .fa-volume-off{
     margin-right: 10px;
     color:white;
     font-size: 20px;
 }
 #play{
    box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
    -8px -8px 18px 0 rgba(255, 255, 255, 0.55);
    border-radius: 100px;
 }
}