@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    background:darkcyan;
}

.center{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    background:black;
    color:white;
    position: fixed;
    width:100%;
    z-index:250;
}

span .fa-user{
    padding:10px;
    border-radius: 50px;
    background:grey;
    margin-bottom:10px;
  }

header{
    font-family: 'Goblin One', cursive;
    font-size: 20px;
}

.container1 {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .navtop{
    background:darkcyan;
    position:fixed;
    text-align: center;
    z-index:200;
    opacity:0;
    width:100%;
    height:0;
    left:0;
    transition:1s all;
    font-family: 'Goblin One', cursive;
    color:white;
    pointer-events: none;
    }
    .home > p{
      margin: 10px;
    }
    .home > p:nth-child(1){
      color:red;
    }
    .topnav{
      position: relative;
      top:100px;
      cursor: pointer;
    }
    .navtop.show{
      opacity:1;
      transition:1s all;
      pointer-events: auto;
      height:100%;
    }
    
    .home{
      margin-top:50px;
    }

    .desktopnav{
        display:none;
    }

    a{
        text-decoration: none;
        color:white;
    }
    a:hover{
        color:grey;
        opacity:0.5;
    }


main{
    margin-top:100px;
    text-align: center;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.borderbox{
   position: relative;
}
.img{
    width:250px;
    height:200px;
    padding:10px;
    border-radius: 20px;
    box-shadow: 5px 5px 50px -1px rgba(0,0,0,0.5);
}
.audiooption{
    margin-top:20px;
}

button{
    border:none;
    font-size: 15px;
    background: transparent;
    padding: 10px;
    font-size: 20px;
    color:white;
}
.musicscreen{
    display:none;
}
#audioplayer{
border-radius:50%;
padding:20px;
font-size: 20px;
position: relative;
background:darkslategray;
box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
-8px -8px 18px 0 rgba(255, 255, 255, 0.55);
}

@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
.aligncenter{
   width:100%;
   overflow: hidden;
   position: relative;
}
.listcollection{
   overflow-x:scroll;
      display:flex;
      scroll-behavior: smooth;
      scrollbar-width:none;
}
.listcollection::-webkit-scrollbar {
    display: none;
  }
  
.left{
    position: absolute;
    top:40%;
    left:0;
    background:black;
    color:white;
}
.right{
    position: absolute;
    top:40%;
    right:0;
    background:black;
    color:white;
}
.right,.left{
    display:none;
}
.right:hover,.left:hover{
    background:grey;
    cursor: pointer;
}
.allmusiccollection{
    text-align: left;
    width:100%;
    font-size: 15px;
   overflow: hidden;
   padding-bottom:10px;
}
.allmusiccollection h1{
margin:auto 20px;
}
.listcollection div img{
    width:100px;
    height:100px;
}
.listcollection div{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    padding:20px;
 background:whitesmoke;
    margin:20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: black;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
    text-align: center;
}
.listcollection div:hover{
    filter:brightness(50%);
    cursor: pointer;
}
.musicscreen{
    position: relative;
}

.playlistscreen > div {
    display:flex;
   align-items: center;
   justify-content: space-between;
   padding:20px;
   margin:10px auto;
   font-size: 12px;
}
.playlistscreen img{
    width:20%;
}
.musicscreen{
    position: relative;
}
.playlistbox{
    display:none;
}

.iconsdots{
    position: absolute;
    top:0;
    font-size: 20px;
    right:20px;
}
.listoption{
    position: absolute;
    top:20px;
    padding:10px;
    right:40px;
    width:40%;
  display:none;
    background:whitesmoke;
}
.listoption.show{
    display:block;
}
.musicscreen{
    width:100%;
}

  .desktopnav{
      display:none;
  }

  .desktopui{
      display:none;
  }

  .bottomplay{
      display:none;
  }

  
  .faderight{
    transform:translateX(60%);
  }
  .fadeleft{
    transform:translateX(-60%);
  }
  .faderightshow{
    transition:2s all;
  transform:translateX(0);
  }
  
  .fadeleftshow{
    transition:2s all;
  transform:translateX(0);
  }
section{
    display: grid;
    padding-bottom:20px;
    place-items: center;
}
.autoslider{
height:250px;
margin:auto;
position: relative;
width:90%;
display: grid;
place-items: center;
overflow: hidden;
}
.slidertrack{
    display:flex;
    width:calc(250px * 18);
    animation:scrollinfinite 40s linear infinite;
}
.slidertrack:hover{
    animation-play-state: paused;
}
.slideauto{
    height:200px;
    width:250px;
    display:flex;
    align-items: center;
    padding:15px;
    perspective: 100px;
}
.slideauto img{
    width:100%;
    height:100%;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
    transition: transform 1s;
}
.slideauto img:hover{
    transform: translateZ(20px);
}

@keyframes scrollinfinite{
    0%{
        transform:translateX(0);
    }
    100%{
        transform:translateX(calc(-250px * 9));
    }
}

.bottomoptionlist{
    position: fixed;
    bottom:0;
    background:black;
    width:100%;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 12px;
    display:none;
}

.bottomtrack{
     position: fixed;
    width:100%;
    align-items: center;
    flex-direction: column-reverse;
    background:black;
    color:white;
    bottom:0;
    display:none;
}
#player{
    width:200px;
}
  .optionbtn{
     width:40%;
     display:flex;
  }
  .optionbtn button{
      font-size: 10px;
  }
  #tracklist{
font-size: 20px;
      margin:10px auto;
}
  @media screen and (min-width:700px){
      .right,.left{
          display:block;
      }
      .img{
          width:350px;
          height:350px;
      }
      .listcollection div img{
          width:200px;
          height:200px;
      }
      .listcollection div{
          border-radius: 5px;
      }
      .aligncenter{
        width:100%;
    }
    .bottomoptionlist{
        display:none;
        font-size: 15px;
    }
    .optionbtn button{
        font-size: 20px;
    }
    #tracklist{
        font-size: 20px;
    }
    .playlistscreen > div{
        font-size: 20px;
    }
  }
@media screen and (min-width:1440px){
    main{
        display:none;
    }
    .navtop{
        display:none;
    }
    .center{
        display:none;
    }
    .desktopui{
        display:flex;
    }
    .sidenav{
        background:rgb(56, 56, 73);
        width:300px;
        height:750px;
        padding:20px;
        color:white;
    }
    .href{
        margin-top:50px;
        position: relative;
    }
    .href h1{
        margin-top:20px;
    }
    .href p{
        position: relative;
        z-index:10;
    }
    .href p::after{
        content:'';
        position: absolute;
        height:20px;
        width:0;
        z-index:-1;
        background:darkseagreen;
        left:-10px;
    }
    .href p:hover::after{
        width:100%;
        border-left:4px solid white;
        transition:1s all;
    }

 
    .playlist{
        margin-top:80px;
    }
    .playlist p{
        margin-top: 10px;
    }
    .sideui{
        width:80%;
        margin-left:20px;
        margin-top:10px;
    }
    .search{
        margin:10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .searchbtn{
        position: relative;
    }
    .searchbtn span{
        position: absolute;
        top:10px;
        right:10px;
        z-index:1;
    }
    .searchinput{
        border:none;
        width:500px;
        font-size: 15px;
        text-transform: uppercase;
        padding: 10px 20px;
        border-radius: 20px;
    }

    .icons{
        padding: 0 10px;
    }
    .icons .fas{
        padding-right:10px;
        font-size: 20px;
        color:white;
    }

    .musicimg{
        overflow-x: scroll;
        overflow-y:hidden ;
        display:flex;
        scroll-behavior: smooth;
        scrollbar-width:none;
        user-select: none;
    }

    .musicimg img{
        width:250px;
        height:250px;
        border-radius: 20px;
        margin:50px 10px;
        box-shadow: 5px 5px 50px -1px rgba(0,0,0,0.5);
    }
ul{
    list-style:none;
}
    .musicimg.active{
        cursor:grab;
    }
    
 
    a{
    font-size: 20px;
    color:white;
    position: relative;
    }

    a:hover{
        color:white;
    }

    .musicimg li a{
        display:none;
    }
  
    .musicimg li{
        text-decoration: none;
        font-size: 18px;
        color: black;
        display:flex;
        flex-direction: column;
        text-align: center;
      }
      .musicimg li:hover{
          opacity:0.5;
          cursor: pointer;
      }
    .feature{
        margin-left:50px;
        margin-top:50px;
    }
    .featurecard{
        overflow-x: scroll;
        display:flex;
        scrollbar-width: none;
    }
    .featurecard img{
        width:150px;
        height:150px;
        border-radius: 100px;
        margin-top:10px;
        margin-left:20px;
    }
    .featurecard > div img {
        margin-left:20px;
    }
  
    .bottomplay{
        width:100%;
        background:darkslategrey;
        padding:10px 20px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin-top:-20px;
    }
    .bottomplay img{
        width:50px;
        height:50px;
        border-radius: 100px;
    }
    .bottomsong{
        display: flex;
        align-items: center;
        width:300px;
    }
    .songname{
        margin-left:10px;
    }
 #progress2{
     width:500px;
 }
 #volumeslider2{
     width:100px;
 }
 .volume{
     display:flex;
     align-items: center;
     margin-left: 10px;
 }
 .fa-volume-off{
     margin-right: 10px;
     color:white;
     font-size: 20px;
 }
 #play{
    box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
    -8px -8px 18px 0 rgba(255, 255, 255, 0.55);
    border-radius: 100px;
 }
 .bottomoptionlist{
     display:none;
 }
 .bottomtrack{
     display:none;
 }
 .bottomoptionlist{
     display:none;
 }
}
