@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
  background:lightgrey;
  text-align:center;
}

.center{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    background:black;
    color:white;
    position: fixed;
    width:100%;
    z-index:250;
}
.fa-user{
    padding:10px;
    border-radius: 50px;
    background:grey;
    margin-bottom:10px;
  }
header{
    font-family: 'Goblin One', cursive;
    font-size: 20px;
}

section{
    padding:100px 0;
}

.container{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.container1 {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .navtop{
    background:darkcyan;
    position:fixed;
    text-align: center;
    z-index:200;
    opacity:0;
    width:100%;
    height:0;
    left:0;
    transition:1s all;
    font-family: 'Goblin One', cursive;
    color:white;
    pointer-events: none;
    }
    .home > p{
      margin: 10px;
    }
    .home > p:nth-child(1){
      color:red;
    }
    .topnav{
      position: relative;
      top:100px;
      cursor: pointer;
    }
    .navtop.show{
      opacity:1;
      transition:1s all;
      height:100%;
      pointer-events: auto;
    }
    
    .home{
      margin-top:50px;
    }

    .desktopnav{
        display:none;
    }

    a{
        text-decoration: none;
        color:white;
    }
    a:hover{
        color:grey;
        opacity:0.5;
    }
.container button:hover{
background:grey;
color:white;
}

.faderight{
    transform:translateX(60%);
  }
  .fadeleft{
    transform:translateX(-60%);
  }
  .faderightshow{
    transition:2s all;
  transform:translateX(0);
  }
  
  .fadeleftshow{
    transition:2s all;
  transform:translateX(0);
  }
  .mainsection{
    padding:100px 20px;
    overflow: hidden;
  }
  .mainsection h1{
    text-decoration: underline;
    font-size: 20px;
  }
 .mainsection img{
width:100%;
animation: 1s linear bottom;
position: relative;
 }
 .connect{
   margin-top:40px;
   animation:1s linear bottom;
   position: relative;
 }

 @keyframes bottom{
   from{
     bottom:-200px;
     opacity:0;
   }
   to{
     bottom:0;
     opacity:1;
   }
 }

 @keyframes anim {
   from{
     bottom:-100px;
   }
   to{
     bottom:0;
   }
 }
 .mainsection button{
   border-radius: 10px;
   border:none;
   background:darkcyan;
   color:white;
   padding: 10px 20px;
   margin:10px 0;
   animation:2s linear anim;
   position: relative;
 }
 .secondpage{
   background:darkcyan;
   padding:20px 10px;
   color:whitesmoke;
 }
 .secondpage img{
width:100%;
 }
 .grid > div{
   margin:10px auto;
 }

 .gridtemplate{
   margin: 10px;
 }
 .grid{
   padding:20px;
 }
 .grid > div{
   padding: 10px;
 }
 .musicanywhere{
  padding:20px;
  color:black;
  background:darkcyan;
 }
 .musicanywhere .fas{
   font-size: 40px;
   padding: 20px;
   color:white;
 }
 .musicanywhere > div{
   margin:30px;
 }
 .footer{
   background:lightgrey;
   padding:50px;
   text-transform: uppercase;
 }
 .footer .fab{
   font-size: 40px;
   padding:10px;
   color:black;
 }

.mailing{
  background:lightgrey;
  padding:20px;
  display:flex;
  flex-direction: column;
}
.mailing input{
  width:100%;
  padding:5px 0;
  margin: 10px 0;
}


.mailing button{
  padding: 10px 20px;
  border:none;
  background:darkcyan;
  color:white;
  border-radius: 5px;
}
.social{
  background:lightgrey;
  padding:20px;
  text-transform: uppercase;
}
.social .fab{
  padding: 20px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #07526e, 0px 10px 5px #999;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  text-shadow: 2px 2px rgba(0,0,0,0.5),
  2px 2px 3px rgba(0,0,0,0.5),
  3px 3px 4px rgba(0,0,0,0.5),
  4px 4px 5px rgba(0,0,0,0.5);
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  text-shadow: 2px 2px rgba(0,0,0,0.5),
  2px 2px 3px rgba(0,0,0,0.5),
  3px 3px 4px rgba(0,0,0,0.5),
  4px 4px 5px rgba(0,0,0,0.5);;
}

.fa-instagram {
  background: #125688;
  color: white;
  text-shadow: 2px 2px rgba(0,0,0,0.5),
  2px 2px 3px rgba(0,0,0,0.5),
  3px 3px 4px rgba(0,0,0,0.5),
  4px 4px 5px rgba(0,0,0,0.5);;
}


.slider{
  padding:20px;
  background:lightgrey;
  text-align: center;
}
.slider h1{
  text-decoration: underline;
  text-transform: uppercase;
}

.grid-item {
  color: #fff;
  padding: 3.5em 1em;
  font-size: 1em;
  font-weight: 700;
  background:transparent;
}
.main {
  grid-area: main;
  padding: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width:none;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.main::-webkit-scrollbar {
display: none;
}

.items {
position: relative;
width: 100%;
overflow-x: scroll;
overflow-y: hidden;
scroll-behavior: smooth;
scrollbar-width:none;
white-space: nowrap;
transition: all 0.2s;
transform: scale(0.98);
will-change: transform;
user-select: none;
cursor: pointer;
margin: 20px 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.items::-webkit-scrollbar {
display: none;
}


.items.active {
cursor: grabbing;
cursor: -webkit-grabbing;
}

.item {
  display: inline-block;
  height: 250px;
  width:250px;
  margin: 2em 1em;
  color:black;
  text-align: center;
  text-transform: uppercase;
  background:silver;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgb(0,0,0,0.5);
   position:relative;
}
.item::after{
content:'';
position:absolute;
background:coral;
height:100%;
width:100%;
top:5px;
left:5px;
z-index:-1;
bottom:0;
border-radius: 20px;
box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}
.item::before{
  content:'';
  position:absolute;
  background:grey;
  height:100%;
  width:100%;
  top:10px;
  left:10px;
  z-index:-1;
  bottom:0;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
  }

.item  > div {
padding: 150px 0;
}
.item img{
  width:100%;
  height:100%;
  border-radius: 20px;
}

.item > p{
padding:10px 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
.questions{
  padding:20px;
}
.question {
margin:10px;
}
.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}

.question-btn {
  font-size: 1.5rem;
  background:transparent;
  border:none;
  cursor: pointer;
}
.question-btn:hover {
  transform: rotate(90deg);
  transition:1s all;
}

.question-text p {
  margin:auto;
  text-align: left;
}
/* hide text */
.question-text {
  display: none;
}
.show-text .question-text {
  display: block;
}
.minus-icon {
  display: none;
}
.show-text .minus-icon {
  display: inline;
}
.show-text .plus-icon {
  display: none;
}


 @media screen and (min-width:700px){
   .mainsection img{
     width:70%;
   }
.mainsection{
  line-height: 30px;
  padding:100px;
}
   .secondpage {
     padding:50px 0;
   }
   .secondpage img{
     width:50%;
   }
  .gridtemplate{
    margin:20px;
  }
  .mailing input{
    width:50%;
  }
   .grid {
    display:grid;
    grid-template-columns: auto auto;
    grid-gap:20px;
    padding:50px;
     align-items: center;
  }
}

@media screen and (min-width:1440px){
    .desktopnav{
        display:flex;
    }
    .container1{
        display:none;
    }
    .desktopnavlist{
        display:flex;
    }
    .desktopnavlist p{
        padding:0 10px;
        font-size: 20px;
        font-family: 'Goblin One', cursive;
    }
    .navtop{
        display:none;
    }
 .mainsection{
   display:flex;
   justify-content: space-between;
   align-items: center;
   justify-content: center;
   flex-direction: row-reverse;
   text-align:left;
   font-size: 20px;
 }
 .mainsection img{
   width:600px;
 }
 .mainsection > div{
   padding: 10px 20px;
 }
.connect{
  line-height: 50px;
}
.secondpage{
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding:50px;
  text-align:left;
}
.secondpage img{
  width:400px;
  height:500px;
}
.gridtemplate{
  margin:20px 0;
}
.grid{
  display:grid;
  grid-template-columns: auto auto;
  gap:40px;
  align-items: center;
  width:550px;
  padding:0;
  margin:20px 0;
}
.musicanywhere{
  display:flex;
  align-items: center;
  text-align:left;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.musicanywhere > div{
  margin:100px 20px;
}
.mailing{
  display:flex;
}
.mainsection img{
  animation:1s linear left;
}
@keyframes bottom{
  from{
    left:-200px;
    opacity:0;
  }
  to{
    left:0;
    opacity:1;
  }
}

@keyframes left{
  from{
    right:-100px;
    opacity:0;
  }
  to{
    right:0;
    opacity:1;
  }
}

}
